<!-- Header -->
<div class="row">
    <div class="col-xs-12">
        <h1>Eat Da Burger!</h1>
    </div>
</div>

<div class="row">
    <!-- Ready burger column -->
    <div class="col-xs-12 col-sm-4">
        <h2>Ready</h2>

        <ul>
            <!--Iterate through 'burgers' data item. If not devoured, create an item with its name, a 'devour' button, and a customer name field. -->
            {{#each burgers}}
                {{#unless this.devoured}}
                    <li class="holder">
                    <h4>{{this.burger_name}}</h4>

                    <form action="/api/new/customer/{{this.id}}?_method=PUT" method="POST">
                        <label for="customer_name" class="sr-only">Your Name:</label>
                        <input name="customer_name" placeholder="Your Name" type="text" maxlength="30" required>
                        <input type="hidden" name="devoured" value="true">
                        <button type="submit" class="btn btn-danger btn-sm">EAT IT!</button>
                    </form>
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>

    <!-- New burger column -->
    <div class="col-xs-12 col-sm-4">

        <img src="assets/img/burger.png" alt="A drawing of a burger with several layers of toppings">

        <!-- Burger addition form -->
        <h2>Add a Burger</h2>
        <form class="create-update-form add-form" action="/api/new/burger" method="POST">

            <div class="form-group">
                <label for="burger" class="sr-only">Burger Name:</label>
                <input type="text" id="burger" name="name" placeholder="Burger Name" class="form-control" maxlength="30">
            </div>

            <button type="submit" class="btn btn-danger">Add Burger</button>
        </form>
    </div>

    <!--Eaten burger column-->
    <div class="col-xs-12 col-sm-4">

        <h2>Eaten</h2>

        <ul>
            <!--Iterate through 'burgers' data item. If devoured, create an item with its name and a button. -->
            {{#each burgers}}
                {{#if this.devoured}}
                    <li class="holder">
                    <h4>{{this.burger_name}}</h4>
                        <h4>Eaten by: {{this.Customer.customer_name}}</h4>

                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="false">
                        <button type="submit" class="btn btn-danger btn-sm">MAKE ANOTHER!</button>
                    </form>
                </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
